.page {
  @layer component {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    justify-items: start;
    align-items: start;
    row-gap: 24px;
    padding-block: 24px;
    padding-inline: 24px;
  }
}
