.container {
  display: grid;
  position: relative;
  grid-template-columns: minmax(auto, var(--page-max-width));
  justify-content: center;
  padding: 0 var(--page-side-padding);
  height: var(--app-navigation-height);
  background-color: var(--white);
  border-bottom: 2px solid var(--spring-green);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.content {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}

.list {
  display: grid;
  position: relative;
  width: 100%;
  grid-auto-flow: column;
  column-gap: 16px;
  justify-content: end;
  margin: 0;
  padding: 0;
}

.listItem {
  display: inline-block;
  text-decoration: none;
}

.link {
  color: var(--lavender-floral);
  text-decoration: none;
  font-weight: var(--font-weight-regular);

  &:hover {
    text-decoration: underline;
  }
}

.activeLink {
  text-decoration: underline;
  color: var(--tropical-indigo);
  font-weight: var(--font-weight-medium);
}
