.dialog {
  padding: 0;
  border: none;
  border-radius: 4px;
  max-width: calc(100vw - 32px);
  max-height: calc(100vh - 32px);
  background-color: transparent;
  opacity: 0;
  transform: scale(0.9);

  &::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    opacity: 0;
    animation: none;
  }

  &[open] {
    animation: scaleUpDialog 0.3s ease-in-out forwards;

    &::backdrop {
      animation: showBackdrop 0.3s ease-in-out forwards;
    }
  }
}

.hidden {
  &[open] {
    animation: scaleDownDialog 0.3s ease-in-out forwards;

    &::backdrop {
      animation: hideBackdrop 0.3s ease-in-out forwards;
    }
  }
}

@keyframes showBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideBackdrop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleUpDialog {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleDownDialog {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.container {
  @layer component {
    padding: 0;
    background-color: transparent;
  }
}
