.link_button {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  background-color: white;
  padding: 4px 16px;
  justify-items: center;
  border-radius: 4px;
}

.link_button:hover {
  text-decoration: none;
  background-color: lightgray;
}
