.link_button {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  color: var(--night);
  cursor: pointer;
  justify-items: center;
  font-weight: var(--font-weight-medium);
  padding: 8px 24px;
  font-size: 1.25rem;
  border-radius: 4px;
}
