.imagePreview {
  display: grid;
  gap: 8px;
  border: 2px solid var(--admin-border);
  border-radius: 8px;
  padding: 8px;
  background-color: var(--admin-bg-secondary);
  position: relative;
}

.actionsContainer {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
}

.imageContent {
  display: grid;
  gap: 8px;
  transition:
    filter 0.2s ease,
    opacity 0.2s ease;
}

.imageContent.toDelete {
  filter: grayscale(1);
  opacity: 0.5;
}

.previewImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}
