.link {
  display: inline;
  font-weight: var(--font-weight-medium);
  font-size: inherit;
  line-height: inherit;
  color: var(--link);
  text-decoration: underline;
  text-decoration-color: var(--link);
  transition: color var(--transition-fast);

  &:hover {
    color: var(--link-hover);
    text-decoration-color: var(--link-hover);
  }

  &:visited {
    color: var(--link-visited);
    text-decoration-color: var(--link-visited);
  }
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  font-size: inherit;
  line-height: inherit;
  margin-left: 2px;

  &:before {
    content: "\200B"; /* Zero-width space to keep the height of the line-height */
  }
}
