.iconWrapper {
  display: inline-flex;
  align-items: center;
  font-size: inherit;
  line-height: inherit;
  margin-left: 2px;

  &:before {
    content: "\200B"; /* Zero-width space to keep the height of the line-height */
  }
}
