:root {
  color-scheme: light dark;

  --eerie-black: #1a1a1aff;
  --black: #000000ff;
  --white: #ffffffff;
  --silver: #ccccccff;
  --lavender-floral: #b681ffff;
  --tropical-indigo: #9b7be4ff;

  --green-blue: #0068b8ff;

  --aquamarine: #99ffc5ff;
  /*noinspection CssInvalidFunction*/
  --spring-green: light-dark(#5cffa3ff, #5cffa3ff);
  --dark-green: #002912ff;

  --cream: #fffdd6ff;
  --icterine: #fff87cff;
  --aureolin: #f5e900ff;

  --alice-blue: #ebf4ffff;
  /*noinspection CssInvalidFunction*/
  --ruddy-blue: light-dark(#5ca3ffff, #5ca3ffff);
  --marine-blue: #003e8fff;

  /*noinspection CssInvalidFunction*/
  --rose-pink: light-dark(#ff5cccff, #ff5cccff);
  --pale-purple: #ffebf9ff;

  /*noinspection CssInvalidFunction*/
  --coral: light-dark(#ff7f50ff, #ff7f50ff);
  --seashell: #fff0ebff;

  --night: #121416ff;
  --onyx: #373d43ff;
  --cadet-gray: #9aa4acff;

  --rose-pink--coral---gradient: linear-gradient(
    101deg,
    var(--rose-pink) 0%,
    var(--coral) 75%
  );
  --ruddy-blue--spring-green---gradient: linear-gradient(
    101deg,
    var(--ruddy-blue) 0%,
    var(--spring-green) 75%
  );
}
