@layer base {
  :root {
    --font-family: Inter;
  }

  @supports (font-variation-settings: normal) {
    :root {
      --font-family: InterVariable;
    }
  }

  :root {
    --font-size: 16px;

    --scale-ratio-major-second: 1.125;
    --scale-ratio-major-third: 1.25;

    --type-scale-ratio: var(--scale-ratio-major-second);

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: calc(1rem * pow(var(--type-scale-ratio), 1));
    --font-size-xl: calc(1rem * pow(var(--type-scale-ratio), 2));
    --font-size-2xl: calc(1rem * pow(var(--type-scale-ratio), 3));
    --font-size-3xl: calc(1rem * pow(var(--type-scale-ratio), 4));
    --font-size-4xl: calc(1rem * pow(var(--type-scale-ratio), 5));
    --font-size-5xl: calc(1rem * pow(var(--type-scale-ratio), 6));

    --line-height-xs: 1.6;
    --line-height-sm: 1.5;
    --line-height-md: 1.5;
    --line-height-lg: 1.5;
    --line-height-xl: 1.4;
    --line-height-2xl: 1.35;
    --line-height-3xl: 1.3;
    --line-height-4xl: 1.25;
    --line-height-5xl: 1.2;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --letter-spacing-tight: -0.025em;
    --letter-spacing-normal: 0;
    --letter-spacing-wide: 0.025em;
  }

  @media (min-width: 768px) {
    :root {
      --type-scale-ratio: var(--scale-ratio-major-third);
    }
  }

  html {
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);

    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-normal);

    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-feature-settings:
      "kern" 1,
      "liga" 1,
      "calt" 1,
      "ss08" 1;
    font-kerning: normal;

    button {
      font-family: var(--font-family), sans-serif;
    }
  }
}
