@layer base {
  :root {
    --font-family: Inter;
  }

  @supports (font-variation-settings: normal) {
    :root {
      --font-family: InterVariable;
    }
  }

  :root {
    --font-size: 18px;

    --scale-ratio-major-second: 1.125;
    --scale-ratio-major-third: 1.25;

    --type-scale-ratio: var(--scale-ratio-major-second);

    --font-size-note: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-heading6: calc(var(--font-size-base) * var(--type-scale-ratio));
    --font-size-heading5: calc(
      var(--font-size-heading6) * var(--type-scale-ratio)
    );
    --font-size-heading4: calc(
      var(--font-size-heading5) * var(--type-scale-ratio)
    );
    --font-size-heading3: calc(
      var(--font-size-heading4) * var(--type-scale-ratio)
    );
    --font-size-heading2: calc(
      var(--font-size-heading3) * var(--type-scale-ratio)
    );
    --font-size-heading1: calc(
      var(--font-size-heading2) * var(--type-scale-ratio)
    );

    --line-height-tight: 1.25;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.75;

    --font-weight-regular: 400;
    --font-weight-text: 450;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --letter-spacing-tight: -0.025em;
    --letter-spacing-normal: 0;
    --letter-spacing-wide: 0.025em;
  }

  @media (min-width: 768px) {
    :root {
      --type-scale-ratio: var(--scale-ratio-major-third);
    }
  }

  html {
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);

    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);

    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-feature-settings:
      "kern" 1,
      "liga" 1,
      "calt" 1,
      "ss08" 1;
    font-kerning: normal;

    button {
      font-family: var(--font-family), sans-serif;
    }
  }
}
