@layer base, component, variant, layout, route;

* {
  box-sizing: border-box;
}

.screen-reader-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

@layer base {
  /* Body */
  body {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    color: var(--eerie-black);

    @supports (min-width: 100dvh) {
      min-height: 100dvh;
    }
  }
}
