:root {
  /*--app-header-height: 64px;*/
  --app-navigation-height: 40px;
  --page-max-width: 940px;
  --page-side-padding: 24px;
  --page-top-padding: 40px;
  --page-bottom-padding: 80px;
  --archive-issue-width: 220px;
}
