.listItem {
  @layer component {
    color: var(--text-primary);
    line-height: 1.6;
    margin-block-end: 0.5em;
  }

  &::marker {
    color: var(--violet);
  }

  p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-block: 0;
    color: inherit;
  }
}
