.container {
  display: grid;
  position: relative;
  grid-auto-flow: row;
  width: 100%;
  margin-block-end: 24px;
}

.list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.listItem {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 8px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
  color: var(--text-secondary);

  &:not(:first-child)::before {
    content: "/";
  }
}

@media all and (min-width: 768px) {
  .list {
    justify-content: start;
  }
}
