.container {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  grid-template-areas:
    "title"
    "pages";
  grid-row-gap: 20px;
  grid-area: contents;
  justify-items: center;
  justify-content: center;
}

@media all and (min-width: 690px) {
  .container {
    justify-content: start;
    justify-items: start;
  }
}

.title {
  grid-area: title;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
  color: var(--text-primary);
}

.list {
  grid-area: pages;
  display: grid;
  position: relative;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list_item {
  display: flex;
  position: relative;
  margin: 0;
}

.link {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  color: var(--footer-text);
  text-decoration: none;
  transition: color var(--transition-fast);

  &:hover {
    color: var(--link-hover);
  }
}

@media all and (max-width: 689px) {
  .list {
    grid-auto-flow: row;
    grid-row-gap: 12px;
    justify-items: center;
  }
}
