.container {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  grid-template-areas:
    "title"
    "pages";
  grid-row-gap: 20px;
  grid-area: contents;
}

.title {
  grid-area: title;
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
}

.list {
  grid-area: pages;
  display: grid;
  position: relative;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 24px;
  margin: 0;
  padding: 0;
}

.listItem {
  display: flex;
  position: relative;
  list-style: none;
  margin: 0;
}

.link {
  color: var(--lavender-floral);
  text-decoration: none;
  font-weight: var(--font-weight-regular);

  &:hover {
    text-decoration: underline;
  }
}

@media all and (max-width: 689px) {
  .container {
    justify-items: center;
    justify-content: center;
  }

  .list {
    grid-auto-flow: row;
    grid-row-gap: 12px;
    justify-items: center;
  }
}
