.container {
  @layer component {
    grid-area: footer;
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: minmax(auto, var(--page-max-width));
    justify-content: center;
    padding: 48px var(--page-side-padding) 32px;
    background-color: var(--bg-secondary);
    border-top: 1px solid var(--border);
  }
}

.content {
  @layer component {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "contents"
      "description";
    row-gap: 40px;
  }
}
