.container {
  @layer component {
    display: grid;
    position: relative;
    grid-auto-flow: row;
    gap: 8px;
    width: 100%;
    margin-inline: 0 0;
    margin-block: 0 2.5rem;
  }
}

.image {
  @layer variant {
    border-radius: var(--radius-lg);
  }
}

.caption {
  @layer variant {
    & p {
      color: var(--text-tertiary);
      font-size: var(--font-size-note);
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-tight);
      text-align: end;
    }
  }
}
