.container {
  @layer component {
    position: relative;
    width: 100%;
    margin-inline: 0;
    margin-block: 0 2.5rem;
  }
}

.image {
  @layer variant {
    border-radius: var(--radius-lg);
  }
}

.caption {
  @layer component {
    font-size: var(--font-size-note);
    color: var(--text-tertiary);
    margin-block-start: 0.5rem;
    text-align: end;
  }
}
