.title {
  @layer component {
    grid-area: title;
    color: var(--text-primary);
    font-size: var(--font-size-heading5);
    font-weight: var(--font-weight-semibold);
    text-align: center;
    margin-block: 0;
    transition: color var(--transition-base);

    @media (min-width: 768px) {
      text-align: start;
    }
  }
}
