.container {
  display: grid;
  position: relative;
  grid-auto-flow: row;
  row-gap: 8px;
  grid-area: description;
  align-self: center;
}

.sponsorSection {
  display: grid;
  position: relative;
  grid-auto-flow: row;
  row-gap: 8px;
}

.sponsorLogo {
  height: 64px;
}

.operatorSection {
  display: grid;
  position: relative;
  grid-auto-flow: row;
  row-gap: 8px;
}

.descriptionText {
  font-size: var(--font-size-note);
  font-weight: var(--font-weight-regular);
  margin: 0;
  color: var(--footer-text);
}

@media all and (max-width: 689px) {
  .sponsorSection {
    justify-items: center;
    text-align: center;
  }

  .descriptionText {
    text-align: center;
  }
}
