.link {
  text-decoration: none;

  & h3 {
    text-decoration: underline;
  }

  &:hover {
    & h3 {
      text-decoration-color: var(--rose-pink);
    }
  }
}

.article {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "image"
    "title"
    "details";
  justify-items: center;
  align-items: center;
  grid-gap: 16px;
  margin: 16px 0;
}

@media all and (min-width: 768px) {
  .article {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "image title"
      "image details";
    justify-items: start;
    grid-gap: 24px;
    margin: 24px 0;
  }
}
