.content {
  @layer component {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    justify-items: center;
    gap: 24px;
    padding: 24px;
    background-color: var(--admin-bg-primary);
    border: 1px solid var(--admin-border);
    border-radius: 4px;
    box-shadow: var(--admin-shadow-lg);
    min-width: 400px;
    max-width: 500px;
  }
}