.heading {
  @layer component {
    color: var(--text-primary);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
    margin-block: 0.25em 0.75em;
  }
}

.heading2 {
  @layer component {
    font-size: var(--font-size-heading2);
  }
}

.heading3 {
  @layer component {
    font-size: var(--font-size-heading3);
  }
}
