@layer components {
  .heading {
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
    margin-block-end: 0.5em;
    margin-block-start: 1.5em;
  }

  .heading1 {
    font-size: var(--font-size-heading1);
  }

  .heading2 {
    font-size: var(--font-size-heading2);
  }

  .heading3 {
    font-size: var(--font-size-heading3);
  }
}
