.page {
  grid-area: content;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  align-items: start;
  align-content: start;
  width: 100%;
  min-height: calc(
    100vh - var(--admin-header-height) - var(--admin-footer-height)
  );
}
