.subheadline {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  color: var(--text-secondary);
  margin: 0;
}

.marginTop {
  margin-top: 0.5rem;
}

.marginBottom {
  margin-bottom: 2.5rem;
}
