.page {
  container-name: page;
  container-type: inline-size;

  display: grid;
  position: relative;
  grid-auto-flow: row;
  align-content: start;
  height: 100%;
  width: 100%;
  max-width: 940px;
}

p {
  font-size: 1.25rem;
  font-weight: var(--font-weight-text);
}
