.page {
  container-name: page;
  container-type: inline-size;

  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  align-content: start;
  justify-items: center;
  text-align: center;
}

@media all and (width > 768px) {
  .page {
    justify-items: start;
    text-align: start;
  }
}
