.page {
  container-name: page;
  container-type: inline-size;

  display: grid;
  position: relative;
  grid-auto-flow: row;
  align-content: start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 48px;
  font-weight: var(--font-weight-bold);
}

p {
  font-size: 16px;
  font-weight: var(--font-weight-text);
}

a {
  color: var(--black);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
