.container {
  @layer component {
    display: grid;
    position: relative;
    grid-auto-flow: row;
    align-items: start;
    justify-items: start;
    text-align: justify;
    width: 100%;
  }
}
