.link {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  font-weight: 500;
}

.separator {
  color: gray;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  user-select: none;
}
