.link {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: var(--link);
  text-decoration: none;
  transition: color var(--transition-fast);

  &:hover {
    color: var(--link-hover);
  }
}

.active {
  font-weight: var(--font-weight-medium);
  color: var(--text-primary);
}
