.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header header"
    "image altText"
    "image description"
    "featuredImage featuredImage";
  gap: 16px;
  padding: 24px;
  border: 2px solid var(--admin-border);
  border-radius: 8px;
  background-color: var(--admin-bg-primary);
  justify-items: start;
  align-items: start;
  width: 100%;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: var(--font-size-heading5);
  font-weight: var(--font-weight-semibold);
  color: var(--admin-text-primary);
  margin: 0;
}

.removeIcon {
  width: 16px;
  height: 16px;
}

.container:disabled {
  opacity: 0.6;
}

.container:disabled img {
  filter: grayscale(100%);
}
