.container {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.list {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list_item {
  display: flex;
  position: relative;
  margin: 0;
}

.link {
  @layer variant {
    display: flex;
    position: relative;
    font-weight: var(--font-weight-medium);
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    color: var(--footer-text);
    transition: color var(--transition-fast);

    &:hover {
      color: var(--link-hover);
    }
  }
}

.logo {
  @layer variant {
    width: 60px;
    height: 60px;
  }
}
