.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  cursor: pointer;
  color: black;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  row-gap: 8px;
  justify-items: center;
  margin: 0;
}

.cover {
  object-fit: cover;
  width: 217px;
  height: 303px;
  /*aspect-ratio: auto 217 / 303;*/
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  content-visibility: auto;
}

.label {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
}

.ghosted {
  opacity: 0.5;
}
