SESSION_SECRET="some_session_secret"
HONEYPOT_SECRET="some_honeypot_secret"

GAS_DONATION_CONFIRMATION_URL="some_gas_donation_confirmation_url"
GAS_DONATION_CONFIRMATION_SECRET="some_gas_donation_confirmation_secret"