/** Light theme */

:root {
  --spring-green: #5cffa3ff;
  --eerie-black: #1a1a1aff;
  --black: #000000ff;
  --white: #ffffffff;
  --silver: #ccccccff;
  --lavender-floral: #b681ffff;
  --tropical-indigo: #9b7be4ff;
}

/** Dark theme */

@media (prefers-color-scheme: dark) {
  :root {
    --spring-green: #5cffa3ff;
    --eerie-black: #1a1a1aff;
    --black: #000000ff;
    --white: #ffffffff;
    --silver: #ccccccff;
    --lavender-floral: #b681ffff;
    --tropical-indigo: #9b7be4ff;
  }
}
