# Ignore node_modules
node_modules

# Ignore npm debug logs
npm-debug.log

# Ignore build directories
build

# Ignore environment variables
.env

# Ignore local development files
.idea
.DS_Store

# Ignore test coverage reports
coverage

# Ignore logs
logs

# Ignore temporary files
tmp
temp
