.page {
  @layer layout {
    align-content: stretch;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas:
    "header"
    "content"
    "footer";
  margin: 0;
  background-color: var(--bg-secondary);
  min-height: 100%;
}
