.container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  padding: 16px;
  background-color: var(--white);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}