@layer component {
  .container {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
  }
}

.lowResPicture {
  display: flex;
  position: relative;
  image-rendering: pixelated;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.lowResPictureHidden {
  opacity: 0;
}

.highResPicture {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.highResPictureLoaded {
  opacity: 1;
}

.image {
  object-fit: cover;
  aspect-ratio: auto;
  content-visibility: auto;
}
