@layer component {
  .container {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
}

.lowResPicture {
  display: flex;
  position: relative;
  image-rendering: pixelated;
  opacity: 1;
  width: 100%;
}

.highResPicture {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease-in-out;
}

.highResPictureLoaded {
  opacity: 1;
}

.image {
  content-visibility: auto;
  width: 100%;
  height: auto;
}
