.button {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  border: none;
  color: white;
  cursor: pointer;
  justify-items: center;
  font-size: 1.2rem;
  font-weight: var(--font-weight-semibold);
  padding: 12px 24px;

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--spring-green);
  color: var(--dark-green);

  &:hover {
    background-color: var(--aquamarine);
  }

  &:disabled {
    background-color: darkgray;
  }

  &::selection {
    background-color: var(--alice-blue);
    color: var(--marine-blue);
  }
}

.danger {
  background-color: crimson;

  &:hover {
    background-color: darkred;
  }

  &:disabled {
    background-color: darkgray;
  }
}
