.button {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  border: none;
  color: white;
  cursor: pointer;
  justify-items: center;
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
  padding: 12px 24px;

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--spring-green);
  color: var(--dark-green);

  &:hover {
    background-color: var(--aquamarine);
  }

  &:disabled {
    background-color: darkgray;
  }

  &::selection {
    background-color: var(--alice-blue);
    color: var(--marine-blue);
  }
}

.danger {
  background-color: crimson;

  &:hover {
    background-color: darkred;
  }

  &:disabled {
    background-color: darkgray;
  }
}

.default {
  padding: 8px 24px;
  font-weight: var(--font-weight-medium);
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid var(--night);
  color: var(--night);
  transition:
    background-color 150ms ease-out,
    color 150ms ease-out;

  &:hover {
    background-color: var(--night);
    color: var(--white);
  }

  &:focus-visible {
    background-color: var(--night);
    color: var(--white);
    outline: none;
    box-shadow: 0 0 4px 0 var(--rose-pink);
  }

  &:disabled {
    opacity: 0.25;
  }
}
