.section {
  @layer component {
    display: grid;
    grid-auto-flow: row;
    row-gap: 16px;
  }
}

.title {
  @layer component {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--admin-text-primary);
  }
}

.content {
  @layer component {
    display: grid;
    grid-auto-flow: row;
    row-gap: 12px;
  }
}
