.container {
  grid-area: header;
  display: grid;
  position: relative;
  grid-template-columns: minmax(auto, var(--page-max-width));
  justify-content: center;
  justify-items: start;
  padding: 0 var(--page-side-padding);
  height: var(--app-header-height);
}

.content {
  display: grid;
  position: relative;
  grid-template-columns: 1fr max-content;
  grid-template-areas: "logo controls";
  width: 100%;
  height: 100%;
  align-items: center;
}

.link {
  grid-area: logo;
  display: grid;
  position: relative;
  grid-template-columns: max-content max-content;
  column-gap: 8px;
  align-items: center;
  justify-items: start;
  text-decoration: none;
  color: var(--eerie-black);
  font-weight: var(--font-weight-regular);

  &:hover {
    text-decoration: none;
  }
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.logo {
  width: 40px;
  height: 40px;
}
