.container {
  grid-area: header;
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: minmax(auto, var(--page-max-width));
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  padding: 24px var(--page-side-padding);
  row-gap: 16px;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--header-border);
  z-index: var(--z-header);
  backdrop-filter: blur(8px);
}

.content {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  row-gap: 32px;
  grid-template-areas:
    "home-link"
    "navigation";
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;

  @media (min-width: 768px) {
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content;
    column-gap: 48px;
    row-gap: 0;
    grid-template-areas: "home-link navigation";
    justify-items: start;
  }
}
