.container {
  @layer component {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
    color: var(--error);
  }
}

.error {
  @layer component {
    font-size: var(--font-size-xs);
  }
}

.icon {
  @layer component {
    flex-shrink: 0;
    padding-block-start: 0.0625rem;
  }
}
