.container {
  @layer components {
    display: grid;
    position: relative;
    grid-template-columns: 20px 1fr;
    gap: 8px;
    align-items: center;
  }
}

.image {
  @layer components {
    width: 20px;
    height: 20px;
    border-radius: var(--radius-sm);
    object-fit: cover;
  }
}

.paragraph {
  @layer components {
    color: var(--text-secondary);
    font-size: var(--font-size-small);
    text-align: start;
    margin: 0;
  }
}
