.container {
  grid-area: social-sites;
  display: grid;
  position: relative;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-self: end;
  align-self: start;
}

.list {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  margin: 0;
  padding: 0;
}

.listItem {
  display: flex;
  position: relative;
  list-style: none;
  margin: 0;
}

.link {
  display: flex;
  position: relative;
  cursor: pointer;
}

.logo {
  width: 60px;
  height: 60px;
  fill: var(--black);
}

@media all and (max-width: 689px) {
  .container {
    justify-self: center;
  }
}
