.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 4px;
}

.error {
  color: var(--admin-error);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  line-height: 1;
  padding: 0;
  margin: 0;
}

.icon {
  width: var(--font-size-small);
  height: var(--font-size-small);
  fill: var(--admin-error);
  flex-shrink: 0;
}
