.container {
  grid-area: navigation;
  display: grid;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    justify-items: end;
  }
}

.list {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    justify-content: flex-end;
  }
}
