.hyperlink {
  display: inline;
  font-weight: var(--font-weight-medium);
  font-size: inherit;
  line-height: inherit;
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  font-size: inherit;
  line-height: inherit;

  &:before {
    content: "\200B"; /* Zero-width space to keep the height of the line-height */
  }
}

.icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
