.grid {
  display: grid;
  position: relative;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 96px 0 0 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
