.container {
  display: grid;
  position: relative;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-block-start: 0;
  margin-block-end: 40px;
  padding: 0;
  width: 100%;
  list-style: none;
}
