.link {
  @layer component {
    grid-area: home-link;
    display: grid;
    position: relative;
    align-items: center;
    justify-items: start;
    text-decoration: none;
  }
}

.logo {
  @layer component {
    width: 40px;
    height: 40px;
  }
}
