.link {
  grid-area: home-link;
  display: grid;
  position: relative;
  grid-template-columns: max-content max-content;
  column-gap: 24px;
  align-items: center;
  justify-items: start;
  text-decoration: none;
  color: var(--text-primary);
  font-weight: var(--font-weight-regular);
}

.name {
  font-size: 1.5rem;
  font-weight: var(--font-weight-semibold);
  margin: 0;

  &::selection {
    background-color: var(--spring-green);
    color: var(--dark-green);
  }
}

.logo {
  width: 40px;
  height: 40px;
}
