.container {
  grid-area: body;
  display: grid;
  position: relative;
  width: 100%;
  min-height: 100dvh;
  grid-template-columns: minmax(auto, var(--content-max-width));
  justify-content: center;
  align-content: start;
  justify-items: center;
  padding: var(--page-top-padding) var(--page-side-padding)
    var(--page-bottom-padding) var(--page-side-padding);
}
