.container {
  display: inline-block;
  text-decoration: none;
}

.link {
  position: relative;
  font-weight: var(--font-weight-semibold);
  color: var(--black);
  text-transform: uppercase;
}

.active {
  color: transparent;
  background-image: var(--rose-pink--coral---gradient);
  background-clip: text;

  text-decoration-color: var(--rose-pink);

  &::selection {
    background-color: var(--coral);
    color: var(--seashell);
  }
}
