.container {
  display: inline-block;
  text-decoration: none;
}

.link {
  position: relative;
  font-weight: var(--font-weight-semibold);
  font-size: 14px;
  color: var(--black);
  text-transform: uppercase;
}

.active {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--coral);
}
