.container {
  display: inline-block;
  text-decoration: none;
}

.link {
  position: relative;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-tight);
  color: var(--nav-item-text);
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color var(--transition-fast);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--nav-item-text-active);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform var(--transition-base);
  }

  &:hover {
    color: var(--nav-item-text-hover);

    &::after {
      transform: scaleX(1);
    }
  }
}

.active {
  color: var(--nav-item-text-active);

  &::after {
    transform: scaleX(1);
  }

  &:hover {
    color: var(--nav-item-text-active);
  }
}
