.container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: max-content var(--app-navigation-height) 1fr max-content;
  grid-template-areas:
    "header"
    "navigation"
    "body"
    "footer";
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: var(--white);
  color: var(--eerie-black);
}
