.paragraph {
  @layer component {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    margin-block-start: 0;
    margin-block-end: 1.25rem;
    color: var(--text-primary);
    width: 100%;

    &:last-of-type {
      margin-block-end: 0;
    }
  }
}
