.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  row-gap: 8px;
  justify-items: center;
  margin: 0;
}

.image {
  object-fit: cover;
  aspect-ratio: auto;
  content-visibility: auto;
}

.label {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
}
