.footer {
  grid-area: footer;

  display: grid;
  height: var(--admin-footer-height);
  border-top: 1px solid var(--admin-border);
}

.content {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  padding-inline: 24px;
}

.text {
  margin: 0;
  font-size: var(--font-size-note);
  color: var(--admin-text-secondary);
}
