.headline {
  font-size: var(--text-size-7);
  color: transparent;
  background-image: var(--rose-pink--coral---gradient);
  background-clip: text;
  background-size: 200% 200%;
  animation: wave-animation 6s ease-in-out infinite;
  margin: 0;
}

@keyframes wave-animation {
  0%,
  100% {
    background-position: 5% 100%;
  }
  50% {
    background-position: 95% 100%;
  }
}

.marginBottom {
  margin-bottom: 2.5rem;
}
