.headline {
  font-size: var(--font-size-heading3);
  color: transparent;
  background-image: var(--gradient-violet-emerald);
  background-clip: text;
  background-size: 200% 200%;
  animation: wave-animation 6s ease-in-out infinite;
  margin: 0;
}

@keyframes wave-animation {
  0%,
  100% {
    background-position: 5% 100%;
  }
  50% {
    background-position: 95% 100%;
  }
}
