@layer layout {
  body {
    background-color: var(--bg-primary);
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
      "header"
      "body"
      "footer";
  }

  /*!* Hyperlink *!*/
  /*a {*/
  /*  font-family: inherit;*/
  /*  font-size: inherit;*/
  /*  line-height: inherit;*/
  /*  color: inherit;*/
  /*  text-decoration-line: underline;*/
  /*  text-decoration-style: solid;*/
  /*  text-decoration-thickness: 0.1em;*/
  /*  text-underline-offset: 0.1em;*/
  /*  border: 2px solid transparent;*/

  /*  &:hover {*/
  /*    text-decoration-color: var(--rose-pink);*/
  /*  }*/

  /*  &:focus-visible {*/
  /*    border-color: var(--night);*/
  /*    box-shadow: 0 0 4px 0 var(--rose-pink);*/
  /*    text-decoration-color: var(--rose-pink);*/
  /*    border-radius: 4px;*/
  /*    outline: none;*/
  /*  }*/

  /*  &::selection {*/
  /*    background-color: var(--rose-pink);*/
  /*    color: var(--pale-purple);*/
  /*  }*/
  /*}*/

  /* Paragraph */
  /*p {*/
  /*  &::selection {*/
  /*    background-color: var(--spring-green);*/
  /*    color: var(--dark-green);*/
  /*  }*/
  /*}*/

  /* Span */
  /*span {*/
  /*  font-family: inherit;*/
  /*  font-weight: inherit;*/
  /*  font-size: inherit;*/
  /*  line-height: inherit;*/
  /*  color: inherit;*/

  /*  &::selection {*/
  /*    background-color: var(--spring-green);*/
  /*    color: var(--dark-green);*/
  /*  }*/
  /*}*/

  /* Headline */

  /*h1,*/
  /*h2,*/
  /*h3,*/
  /*h4,*/
  /*h5,*/
  /*h6 {*/
  /*  font-weight: var(--font-weight-bold);*/
  /*  line-height: 1.25;*/

  /*  &::selection {*/
  /*    background-color: var(--ruddy-blue);*/
  /*    color: var(--alice-blue);*/
  /*    !*background-color: var(--aureolin);*!*/
  /*    !*color: var(--cream);*!*/
  /*  }*/
  /*}*/
}
