.divider {
  width: 100%;
  height: 4px;
  margin-block: 40px;
  border: none;
}

.primary {
  background-image: var(--gradient-violet-emerald);
  background-size: 200% 200%;
  animation: wave-animation 6s ease-in-out infinite;
}

.secondary {
  background-color: var(--border);
  height: 2px;
}

@keyframes wave-animation {
  0%,
  100% {
    background-position: 5% 100%;
  }
  50% {
    background-position: 95% 100%;
  }
}
